body {
    font-family: 'Monteserrat', sans-serif;
    background-image: linear-gradient(#c2c2c2, #221133);
}
/*cabeçalho*/
header {
    width: 100%;
    padding: 30px 0;
}

.menu {
    position: relative;
    width: 940px;
    margin: 0 30px 0 20px;
}

nav {
    position: relative;
    top: 10px;
}

nav li {
    display: inline-block;
    margin: 0 0 10px 30px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: darkblue;
    font-size: 25px;
    transition: 1s;
}

/*Biografia*/
.foto_rodrigo {
    float: right;
    position: relative;
    margin-right: 70px ;
    width: 13%;
    border-radius: 5% 5% 5% 5%;
    box-shadow: 0 15px 20px #000000;
    opacity: 1;
}

.foto_rodrigo:hover {
    opacity: 0.8;
    transition: 1s;
    cursor: pointer;
}

.titulo-principal {
    text-align: center;
    margin: 1.5em 0 1em;
    font-size: 2em;
    clear: right;
}

.biografia p {
    width: 800px;
    padding: 10px 10px;
    text-align: center;
    margin: 80px 10% 60px 550px;
    line-height: 2.0;
}

.download-cv {
    width: 40%;
    margin: 20% 10% 10% 43%;
    padding: 15px 80px;
    background: royalblue;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.download-cv:hover {
    background: darkblue;
}

/*minhas habilidades*/
.skills {
    width:700px;
    margin-top: 100px;
    margin-left: 30%;
    padding: 40px;
    border-radius: 20px;
    background-color: #c2c2c2C2;
    box-shadow: 0 15px 20px #0000002a;
}

.habilidades {
    text-align: center;
    font-size: 2em;
}

.skills ul{
    list-style: none;
}

.skills ul li {
    margin: 20px 0;
}

.skills .barras {
    background-color: #ccc;
    display: block;
    height: 20px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.barras > span {
    height: 20px;
    background: linear-gradient(to right, #fe4701, #ff0054);
    position: absolute;
}

.html {
    width: 20%;
    animation: html 3s;
}

.css {
    width: 20%;
    animation: css 3s;
}

.javascript {
    width: 10%;
    animation: javascript 3s;
}

.python {
    width: 20%;
    animation: python 3s;
}

.mysql {
    width: 12%;
    animation: mysql 3s;
}

.sql {
    width: 5%;
    animation: sql 3s;
}

.powerbi {
    width: 5%;
    animation: powerbi 3s;
}


@keyframes html {
    0%{
        width: 0%;
    }
    100% {
        width: 20%;
    }
}

@keyframes css {
    0%{
        width: 0%;
    }
    100% {
        width: 20%;
    }
}

@keyframes javascript {
    0%{
        width: 0%;
    }
    100% {
        width: 10%;
    }
}

@keyframes python {
    0%{
        width: 0%;
    }
    100% {
        width: 20%;
    }
}

@keyframes mysql {
    0%{
        width: 0%;
    }
    100% {
        width: 12%;
    }
}

@keyframes sql {
    0%{
        width: 0%;
    }
    100% {
        width: 5%;
    }
}

@keyframes powerbi {
    0%{
        width: 0%;
    }
    100% {
        width: 5%;
    }
}

/*Projetos*/
.container {
    position: relative;
    display: inline-block;
    width: 350px;
    margin: 10px 30px 0 70px; 
    height: 400px;
}

.container:hover .flip {
    transform: rotateY(180deg);
}

.flip {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: .5s;
}

.frente,.tras {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000000e;
    backface-visibility: hidden;
}

.frente {
    background-image: url(ti_trabalhando.jpg);
    background-size: cover;
}

.tras {
    background-color: royalblue;
    transform:rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color:#FFFFFF;
}

/*Contato*/

.contato ul {
    list-style-type: none;
    display: flex;
    position: relative;
    gap: 40px;
}

.contato ul li {
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    box-shadow: 0 8px 25px #00000050;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contato ul li:hover{
    width: 180px;
    transition: .2s;
}

.contato ul li span {
    position: absolute;
}

.contato ul li .icon{
    color: #ccc;
    font-size: 2.2em;
    transition: .2s;
}

.contato ul li .text{
    color: #FFFFFF;
    font-size: 20px;
    transform: scale(0);
    transition: .2s;
    transition-delay: .1s;
}

.contato ul li:hover .text{
    transform: scale(1);
}

.contato ul li:hover .icon{
    transform: scale(0);
}

.contato ul li::before{
    content: '';
    position: absolute;
    background-image: linear-gradient(45deg, var(--cor1), var(--cor2));
    inset: 0;
    opacity: 0;
    border-radius: 60px;
}

.contato ul li:hover::before{
    opacity: 1;
}

footer h1{
    text-align: center;
    margin: 1.5em 400px 1.5em 0;
    font-size: 2em;
}

footer{
    margin: 150px 250px 100px 650px;
    text-align: center;
}